{% extends '::base.html.twig' %}

{% block body -%}
    
    {# Se já estiver logado exibi o link para logout #}
    {# Mais sobre esse assuntop em: #}
    {# http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources #}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path("logout") }}" >LOGOUT</a>
    {% else %}
        <a href="{{ path("login") }}" >LOGIN</a>
    {% endif %}


    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td> - </td>
                <td>
                {% for role in entity.roles %}
                    {{ role }}
                    {% if loop.last %} {% else %} - {% endif %}
                {% endfor %}
                </td>
                <td>{{ entity.isEnabled }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
